<!DOCTYPE html>
<html>
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="fb:app_id" content="1652910675037150" /> 
		<meta property="og:type"   content="Website" /> 
		<meta property="og:url"    content="http://www.brewdal.com" /> 
		<meta property="og:title"  content="Brewdal - Cold Brew Coffee" /> 
		<meta property="og:description"   content="Brewdal Coldbrew coffee is a handcrafted, created with love, designed by computer nerds kind of coffee. Follow us on out Social media outlets to get more info!" />
		<meta property="og:image"  content="<%= asset_url("fb_image.png") %>" /> 
	
  <title>Brewdal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container main-contain">
	<%= yield %>
</div>

</body>
</html>
